[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
scikit-learn = "*"
pandas = "*"
psycopg2 = "*"
jsonify = "*"
flask-cors = "*"
spacy = "*"
gunicorn = "*"
psycopg2-binary = "*" 

[dev-packages]

[requires]
python_version = "3.7"
